/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #333;
    overflow: hidden;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    overflow: hidden;
}

.heading-primary {
    font-size: 5.2rem;
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;
    font-weight: 300;
}

/* BUTTONS */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    border-radius: 10rem;
    text-decoration: none;
    padding: 1.2rem 3rem;
    margin: 2rem 2rem 0 0 ;
    transition: all 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #cf711f;
}

.btn-secondary:link,
.btn-secondary:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #e67e22;
    color: #fff;
}

/* LOGO AND ICONS */
.logo {
    height: 10rem;
}