/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #333;
    overflow-x: hidden;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 300;
}

.heading-primary {
    font-size: 5.2rem;
    color: #fff;
}

.heading-secondary {
    font-size: 3.6rem;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 3rem;
}

.heading-secondary:after {
    content: " ";
    display: block;
    width: 10rem;
    border-bottom: 2px solid #e67e22;
    margin: 0 auto;
    margin-top: 3rem;
}

.heading-tertiary {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

/* GRID */
.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

/* BUTTONS */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    border-radius: 10rem;
    text-decoration: none;
    padding: 1.2rem 3rem;
    margin: 2rem 2rem 0 0 ;
    transition: all 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #cf711f;
}

.btn-secondary:link,
.btn-secondary:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #e67e22;
    color: #fff;
}

/* LOGO AND ICONS */
.logo {
    height: 10rem;
}

/* UTILIDADES */
.margin-top-md {
    margin-top: 6.4rem;
}

.margin-bottom-md {
    margin-bottom: 6.4rem;
}