/*************************/
/* HEADER */
/*************************/
header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('img/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style-type: none;
}

.nav-item:link,
.nav-item:visited {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.5rem;
    transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
}

.hero {
    position: absolute;
    width: 120rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*************************/
/* FEATURES */
/*************************/
.feature-section {
    padding: 9.6rem 0;
}

.long-copy {
    font-size: 2rem;
    line-height: 1.4;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5.2rem;
}

.feature-icon {
    height: 5.4rem;
    width: 5.4rem;
    color: #e67e22;
    margin-bottom: 2rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.5;
}

/*************************/
/* GALLERY */
/*************************/
.gallery-section {
    padding: 9.6rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-img {
    background-color: #000;
    overflow: hidden;
}

.gallery-img img{
    width: 100%;
    opacity: 0.7;
    transform: scale(1.15);
    transition: all 0.5s;
}

.gallery-img:hover {
    transform: scale(1);
    opacity: 1;
}

/*************************/
/* STEPS */
/*************************/
.steps-section {
    padding: 9.6rem 0;
}

.steps-imgbox {
    display: flex;
    align-items: end;
    justify-content: end;
}

.app-img {
    width: 40%;
}

.steps-textbox {
    margin-top: 3.2rem;
}

.steps {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5.2rem;
}

.number {
    font-size: 3rem;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e67e22;
    color: #e67e22;
}

.step-text {
    font-size: 2rem;
    line-height: 1.4;
    width: 80%;
}

.app-link {
    height: 5.2rem;
    margin-left: 1rem;
}

