/* HERO SECTION */
.hero-section {
    background-color: #FDF2E9;
    padding: 9.6rem 0;
}

.hero-container {
    width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-title {
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.5px;
    margin-bottom: 3rem;
    color: #333;
}

.hero-text {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 6rem;
}

.delivered-meals {
    display: flex;
    margin-top: 8rem;
}

.delivered-meals-img {
    display: flex;
}

.delivered-meals-img img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-meals p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 3rem;
    align-self: center;

}

strong {
    color: #E67E22;
    font-weight: bold;
}

.hero-img {
    width: 100%;
}
















